{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-typescript"
  ],
  "rules": {
    "max-len": "off"
  },
  "ignorePatterns": ["node_modules/"]
}
