html, body{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #282C34;
  color: #FFFFFF;
}

a, button.anchor {
  color: #ffcc5f;
  text-decoration: none;
}

a:hover, button.anchor:hover {
  color: #d1a74d;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

.app {
  padding-top: 30px;
}

button {
  border: none;
  outline: none;
  background: #21252B;
  color: #FFF;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

button.anchor {
  padding: 0;
}
